{% extends 'base.html' %}

{% block title %}
edit-task
{% endblock %}

{% block content %}
<h2>Edit Task {{task.title}}</h2>
<form method="POST" action="{{ url_for('task.edit', project_id=project_id, task_id=task.task_id) }}">
    <label>Task Title</label><br>
    <input type="text" name="title" value="{{ task.title }}" required><br><br>

    <label>Status</label><br>
    <select name="status">
        <option value="To Do" {% if task.status=='To Do' %}selected{% endif %}>To Do</option>
        <option value="In Progress" {% if task.status=='In Progress' %}selected{% endif %}>In Progress</option>
        <option value="Completed" {% if task.status=='Completed' %}selected{% endif %}>Completed</option>
    </select><br><br>

    <label>Priority</label><br>
    <select name="priority">
        <option value="Low" {% if task.priority=='Low' %}selected{% endif %}>Low</option>
        <option value="Medium" {% if task.priority=='Medium' %}selected{% endif %}>Medium</option>
        <option value="High" {% if task.priority=='High' %}selected{% endif %}>High</option>
    </select><br><br>

    <label>Due Date</label><br>
    <input type="date" name="due_date"
        value="{{ task.due_date.strftime('%Y-%m-%d') if task.due_date else '' }}"><br><br>

    <button type="submit">Save Changes</button>
    <a href="{{ url_for('project.details', project_id=project_id) }}">Cancel</a>
</form>
{% endblock %}