<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <div id="navbar">
                <a class="brand" href="{{ url_for('index') }}">TaskFlow</a>
                {% if 'user_id' in session %}
                <div class="nav-links">
                    <a href="{{ url_for('project.index') }}">Projects</a>
                    <a href="#">Profile ({{ session['username'] }})</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
                {% endif %}
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-container">
            {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </header>
    <main>
        <div id="content" class="container">{% block content %} {% endblock %}</div>
    </main>
    <footer>
        <div id="footer">
            <p>&copy; Copyright 2030 by Alien</p>
        </div>
    </footer>
</body>

</html>
